h1 {
    text-align: center;
}

body {
    background: rgb(238, 233, 233);
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.contenedor {
    width: 500px;
    margin: 0 auto;
}

.posts {
    background-color: white;
    margin: 30px 0;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.imagen img {
    width: 500px;
    height: 350px;
}

.imagen p {
    padding: 6px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}